{% include 'ui/headz.html' %}
<style>
		/* PAGE-SIMPLE CSS
		.page-simple
		.page-simple .content
		*/
		.page-simple { margin: 0 auto; padding: 1rem; line-height: 1.3rem; background-color: #fff; }
		.page-simple h1 { font-size: 2rem; }
		.page-simple h2 { font-size: 1.5rem; }
		.page-simple ul { list-style-type: square; margin-left: 1.3rem; font-size: 1.1rem; }

		.size-a4 { width: 20cm; height: 28.6cm; border: 4px solid lightgray;
							 box-sizing: border-box; page-break-after: always; overflow: hidden; }
		@media print {
			.size-a4 { border: none; }
			.size-a4 .content .action { display: none; }
		}
		.size-a4 .content { position: relative; top: 1cm; }
		.size-a4 .content h1 { position: absolute; top: 1cm; left: 3cm; font-size: 5rem; }
		.size-a4 .content .subtitle { position: absolute; top: 3.3cm; left: 5.5cm; width: 10cm; }
		.size-a4 .content .subtitle h2 { font-size: 1.2rem; font-weight: bold; }
		.size-a4 .content .action { position: absolute; top: 8.5cm; left: 5.5cm; }
		.size-a4 .content .author { position: absolute; top: 10.5cm; left: 5.5cm; }



		.size-mobile { width: 375px; min-height: 500px; border: 4px solid lightred;
							 box-sizing: border-box; }
		.size-mobile .content { padding-top: 1rem; }
		.size-mobile .content h1 { font-weight: bold; font-size: 3rem; }
		.size-mobile .content .subtitle { background: rgba(255,255,255,0.8); width: 80%; padding-bottom: 1rem; }
		.size-mobile .content .action a { background-color: #fff; }
		.size-mobile .content .author { font-size: 0.8rem; background: rgba(255,255,255,0.5); margin-top: 5rem; line-height: 1rem; }

		/* STANDARD PAGE CSS
		body
		*/
		body { background-color: #fafafa !important; min-height: 100vh; }

		/* METADATA CSS
		.imagebg - from metadata imagebg: imagefilename.png
		*/
		{% if imagebg is defined %}
		.imagebg { background-image: url("{{imagebg}}"); color: black;
							 // background-size: contain;
							 background-size: cover;
							 background-repeat: no-repeat; }
		{% endif %}


		/* ZENPARLADATA CSS
		*/
		.zenparladata { position: fixed; top: 5cm; left: 1cm; width: 3cm; }
		.zenparladata { display: flex; flex-direction: column; }
		.zenparladata p { opacity: 0.5; }
		.zenparladata a { border: 2px solid black; background-color: white; color: black; padding: .25rem; margin-bottom: .25rem; }
		.zenparladata a { text-transform: uppercase; font-size: 0.8rem; }
		.zenparladata a:hover, .zenparladata .active { background-color: lightblue; color: black; border: 2px solid lightblue; }

		{% block css %}{% endblock %}
</style>

{% include 'ui/headzen.html' %}


<div class="page-simple imagebg size-a4" id="feuille1">
	<div class="content">
			{{content|safe}}
			{% block content %}{% endblock %}
	</div>
</div>


{% block zenscan %}{% endblock %}

<div class="zenparladata is-hidden-mobile" id="zenparlada_desktop">


		<a href="#" class="parladata-action active" id="action-size-a4" data-addclass="size-a4" data-removeclass="size-mobile" data-target="feuille1" data-action="size">a4</a>
		<a href="#" class="parladata-action" id="action-size-mobile" data-addclass="size-mobile" data-removeclass="size-a4" data-target="feuille1" data-action="size">mobile</a>
		<p><br />grille<br />seo<br />sitemap</p>
		<p id="action-sizehelper"></p>

</div>



{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

<SCRIPT>

document.addEventListener('DOMContentLoaded', function () {

	if(window.innerWidth < 500) {
		 setcontentsize_mobile();
	}
	else {
		sizehelper();
		window.addEventListener("resize", function(){
			 sizehelper();
		});
	}

	// size helper
	function sizehelper() {
		var $elsizehelper = document.getElementById("action-sizehelper");
		$elsizehelper.innerHTML = window.innerWidth+"x"+window.innerHeight;
	}

	// if mobile
	function setcontentsize_mobile() {
		var $eltarget = document.getElementById('feuille1');
		$eltarget.classList.remove('size-a4');
		$eltarget.classList.add('size-mobile');
	}

	// Find .parladata-action elements to listen on click events
  var $parlaAction = Array.prototype.slice.call(document.querySelectorAll('.parladata-action'), 0);
  if ($parlaAction.length > 0) {
		$parlaAction.forEach(function ($el) {
    	$el.addEventListener('click', function () {


        var action = $el.dataset.action;
				if( action == 'size' )
				{
					var target = $el.dataset.target;
					var classtoremove = $el.dataset.removeclass;
					var classtoadd = $el.dataset.addclass;

					var $eltarget = document.getElementById(target);
					$eltarget.classList.remove(classtoremove);
					$eltarget.classList.add(classtoadd);

					$el.classList.toggle('active');
					var $elgroup = document.getElementById("action-"+classtoremove);
					$elgroup.classList.remove('active')

				}




      });
    });
  }

});
</SCRIPT>






{% include 'ui/footzen.html' %}
