{% extends "simple/page.html" %}

{% block css %}
.size-a4 .content .appzencsv { position: absolute; top: 5cm; width: 100%; }
.appzencsv { border: 1px solid black; padding: .5rem;  }
.containerzenscan { position: absolute; right: 1rem; top: 1rem; width: 370px; z-index: 99; }
{% endblock %}

{% block zenscan %}

{% if zenscan is defined %}
<div class="containerzenscan">
	<div class="card sitemap">
	  <header class="card-header sitemap-header">
			{{profile.brand|safe}}
	  </header>
	  <div class="card-content">
			<ul class="zenscan">
				{% for key, value in zenscan.items() %}
					{% if value['deepclose'] > 0 %}
						{% for i in range(value['deepclose']) %}
							</ul></li>
						{% endfor %}
					{% endif %}
					<li class="lideep{{value['deep']}}">{{key}}
						{% if value['scanlen'] > 0 %}
							{{value['folder']}} ({{value['nbfiles']}})
							<ul class="scanitem">
							{% for articlekey, articledata in value['scan'].items() %}
								<li><a href="{{articledata['url']}}">{{articledata['fname']}}</a>
								</li>
	 						{% endfor %}
							</ul>


						{% else %}
							{{value['folder']}}
						{% endif %}
					{% if value['deepopen'] == 0 %}	</li>
					{% elif value['deepsame'] == 1 %}	</li>
					{% endif %}
					{% if value['deepopen'] == 1 %}
						<ul class="scan uldeep{{value['deep']}}">
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
