{#
IUADMIN-IDX
Premiers pas vers une interface d'administration pour les rédacteurs
#}
{% include 'ui/headz.html' %}

<style>

.iu { display: flex; }

.zenscan { padding-left: 1rem; margin-bottom: 1rem; }
.zenscan li { padding-left: 1rem; }
	.deep { background-color: #fff; color: darkgray; padding: .1rem; margin: .1rem; }
	.deep0 { opacity: 1; }
	.deep1 { opacity: 0.9; }
	.deep2 { opacity: 0.8; }
	.deep3 { opacity: 0.7; }
	.deep4 { opacity: 0.6; }


.data-metadata div { margin: 1rem; padding: 1rem; border: 1px solid #000; }
.data-markdown h1 { font-size: 2rem; }
.data-markdown p { margin-top: 0.5rem; }



</style>


{% include 'ui/headzen.html' %}

<div style="width: 100%; background: #fafafa;">
  <img src="{{rooturl}}img1000x300.jpg" sizes="100vw" srcset="{{rooturl}}img500x400.jpg 500w, {{rooturl}}img1000x300.jpg 600w" style="max-width:100%;">
</div>


<div class="iu">

	{# IU DATA #}
	<div class="iu-data">

		<div class="accordions">	
		<div class="data-seo accordion">
			<div class="accordion-header">
	 			<p>SEO - Référencement naturel</p>
	 			<button class="toggle" aria-label="toggle"></button>
 			</div>
			<div class="accordion-body">
				<div class="accordion-content">
					<strong>pagetitle: </strong>{{pagetitle}}<br />
					<strong>pagedescription: </strong>{{pagedescription}}<br />
				</div>
			</div>
		</div>
		</div>

		<div class="data-markdown">
			{{content|safe}}
		</div>

		<div class="data-metadata">
			data metadata
			<div>
				<strong>zenscan :</strong>
				{{zenscan}}
			</div>
		</div>

	</div>


	{# IU ACTION #}
	<div class="iu-action">
			<ul>
				<li class="action-zenscan">

					{% if zenscan is not defined %}
						no zenscan
					{% else %}
						<strong>zenscan</strong>
						<ul class="zenscan">
							{% for key, value in zenscan.items() %}
								{% if value['deepclose'] > 0 %}
									{% for i in range(value['deepclose']) %}
										</ul></li>
									{% endfor %}
								{% endif %}
								<li>{{key}} {{value['folder']}} ({{value['nbfiles']}}) {{value['file']}} {{value['filesize']}}

								{% if value['deepopen'] == 0 %}	</li>
								{% elif value['deepsame'] == 1 %}	</li><!-- same -->
								{% endif %}
								{% if value['deepopen'] == 1 %}
									<ul class="scan deep deep{{value['deep']}}">
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
				<li class="action-publicview">
					vue publique
				</li>
				<li class="action-print">
					imprimer
				</li>
				<li class="action-profile">
					profile
				</li>
			</ul>
	</div>
	{# END IU ACTION #}

</div>


{% include 'ui/footz.html' %}
{% include 'ui/footzen.html' %}
