{% include 'ui/headz.html' %}
<style>
		.espacecentral { border: 3px solid red; margin-top: 20px; margin-bottom: 20px; }
		.espacecentral .title { padding-bottom: 1rem; }
		.espacecentral .subtitle span { font-size: 1rem; }
		.has-text-left { text-align: left; }
</style>
{% include 'ui/headzen.html' %}



{% include 'ui/nav-top.html' %}

{# INDEX #}

{% include 'ui/zencsvfromcontent.html' %}


{# SEPARATOR #}

		<div class="hero is-medium">
			<div class="container">
				{{content|safe}}
			</div>
		</div>

{% include 'ui/nav-bottom.html' %}



{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

{% include 'ui/footzen.html' %}
