{#
  template
  fields routing
#}

{# used in page-sitemap.html template #}
{%if articledata is defined %}

  {# check for formation fields #}
  {% if articledata.gabarit == 'formation' %}

    <table class="table">
      <tr><td><strong>Thématique :</strong></td><td>{{articledata.forthematique}}</td></tr>
      <tr><td><strong>Durée :</strong></td><td>{{articledata.forduree}}</td></tr>
      <tr><td><strong>Public concerné :</strong></td><td>{{articledata.forpublic}}</td></tr>
      <tr><td><strong>Pré-requis :</strong></td><td>{{articledata.forprerequis}}</td></tr>
      <tr><td><strong>Intervenant :</strong></td><td>{{articledata.forintervenant}}</td></tr>
      <tr><td><strong>Prochaine session :</strong></td><td>{{articledata.forsession}}</td></tr>
      <tr><td><strong>Prix :</strong></td><td>{{articledata.forprix}}</td></tr>
    </table>

  {%else%}
    {{articledata.gabarit}} not managed in template.html
  {%endif%}

{%endif%}
