{% include 'ui/headz.html' %}
{% include 'ui/headzen.html' %}

<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Le serveur Parle Data indique une erreur 404.
      </h1>
      <h2 class="subtitle">
        Le lien n'est pas référencé sur ce site.
      </h2>
    </div>
  </div>
</section>



{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

{% include 'ui/footzen.html' %}
