{% include 'ui/headz.html' %}
<style>
body { xbackground-color: #f8c91b;

	  background-image:
	    linear-gradient(
	      to right,
	      #f8c91b, #f8e10f
	    );
			min-height: 100vh;
}

.title { color: #fafafa; padding-bottom: 1rem; text-shadow: 1px 1px 15px #fafafa; text-align: center;}
.supertitle { color: #2B3B8E; font-size: 4em;
	line-height: 4rem; text-shadow: 5px 5px 15px #fff; }
.supertitle span { padding-top: 2rem;font-size: 3rem; color: #2B3B8E; xopacity: 0.5; line-height: 3rem; display: inline-block; }
.supertitle a { padding-top: 2rem;font-size: 3rem; color: #2B3B8E; xopacity: 0.5; line-height: 3rem; display: inline-block; text-shadow: 1px 1px 15px #fafafa; }
.container-snapshot { position: relative; clear: both; z-index: 3; margin: auto; width: 100%; margin-bottom: 2rem; }
@media (max-width: 1px) {
	.container-snapshot { width: 80%; xborder: 2px solid red;}
	.supertitle { font-size: 3rem; line-height: 4rem; padding-top: 0; }
	.supertitle span { font-size: 2rem; line-height: 2rem; }
	.supertitle a { font-size: 2rem; line-height: 2rem; }
}

.audiocontrol { padding: .5rem;}

.snapshot { position: relative; margin-bottom: 2rem; }
.snapshot-legend { position: absolute; bottom: 0rem; left: 0rem; font-size: 2rem; xfont-weight: bold;
	background-color: #2B3B8E; color: #fff; xwidth: 100%; padding-left: 10px; padding-right: 10px; xopacity: 0.7; }
.snapshot-legend-v { position: absolute; bottom: 0rem; left: 0rem; font-size: 1.5rem; text-align: left; line-height: 1.5rem; padding: .5rem; font-weight: normal;
		background-color: #2B3B8E; color: #fff; xwidth: 100%; padding-left: 10px; padding-right: 30px; opacity: 0.7; }

.snapshot-img { position: relative; text-align: center; }
.snapshot-img img { xborder: 1px solid #fafafa; padding: 0; margin: 0; opacity: 1; }
.snapshot-action { position: absolute; bottom: 1rem; right: 1rem; xvisibility: hidden; }
.snapshot-action a { font-size: 2rem;  color: #2B3B8E; border: 1px solid #2B3B8E; background-color: #fff;
 border-radius: 50%; width: 40px; height: 40px; padding: 10px; box-shadow: 1px 1px 5px #2B3B8E;}


.snapshot-polaroid {
padding: 10px 10px 5px 10px;
 border: 1px solid #2B3B8E;
 xbackground-color: #fafafa;
 box-shadow: 1px 1px 5px #2B3B8E;
 border-radius: 2px;
 background-color: #2B3B8E;
 }

 .display-fullscreen, .video-fullscreen, .info-fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #f8c91b;
  display: none;
  xjustify-content: center;
  xalign-items: center;
  cursor: pointer;
	overflow: auto;
	overflow-y:scroll;
overflow-x:hidden;

 }


.video-fullscreen { flex-direction: column; overflow: auto; }
.video-fullscreen .data {   visibility: inherit;  width: 100%; background-color: #f8c91b; xflex-grow: 1; }
 	@media (min-width: 769px) {
		.display-fullscreen { flex-direction: row; }
		.video-fullscreen .data { height: 100vh; }
	}
.video-fullscreen .action { position: absolute; bottom: 1rem; left: 0px; padding: 1rem; font-size: 1rem; color: #000;
 visibility: inherit; display: flex; flex-direction: row; align-items: center; background-color: #f8c91b; padding-right: 1rem; }
 .video-fullscreen .action .legend { font-size: 1.5rem; color: #2B3B8E; padding-left: 1rem; line-height: 1.3rem; }
.video-fullscreen .action a { display: inline-flex; align-items: center; justify-content: center;
	color: #fafafa; font-size: 1.5rem; line-height: 1rem; padding: 0; xborder: 1px solid transparent; width: 50px; height: 50px; }
.video-fullscreen .action a:hover{ xborder: 1px solid #fff; background-color: #2B3B8E; border-radius: 50px; }


.info-fullscreen { flex-direction: column; overflow: auto; height: 100vh; width: 100vw; overflow: auto; }
.info-fullscreen .data {   visibility: inherit;  width: 100%; background-color: #f8c91b; flex-grow: 1; padding: 1rem; }
.info-fullscreen .action {  padding: 0rem; font-size: 1rem; color: #000;
 visibility: inherit; display: flex; flex-direction: row; align-items: center; background-color: #f8c91b; }
 .info-fullscreen .action .legend { font-size: 1.5rem; color: #2B3B8E; padding-left: 1rem; line-height: 1.3rem; }
.info-fullscreen .action a { display: inline-flex; align-items: center; justify-content: center;
	color: #fafafa; font-size: 1.5rem; line-height: 1rem; padding: 0; xborder: 1px solid transparent; width: 50px; height: 50px; }
.info-fullscreen .action a:hover{ xborder: 1px solid #fff; background-color: #2B3B8E; border-radius: 50px; }



.display-fullscreen .content-visual .visual-legend { font-size: 1.2rem; font-weight: bold;
	background-color: #f8c91b; color: rgba(40, 40, 40, 0.5); padding: 1.5rem; display: inline-block; xwidth: 50px; }


 .display-fullscreen .content-visual { background-color: #f8c91b; visibility: inherit;
	 width: 70%; height: 100vh; background-size: auto 100%; background-repeat: no-repeat; }

 .display-fullscreen .content-txt { background-color: #f8c91b; #2B3B8E; visibility: inherit; width: 30%; height: 100vh; }


 .display-fullscreen .content-txt .data {  visibility: inherit; }
 .display-fullscreen .content-txt .txt { padding-left: .5rem; padding-right: .5rem; padding-top: .5rem; font-size: 1rem; color: #000;  }
 .display-fullscreen .content-txt .txt em { font-size: 1rem; line-height: 1.3rem; display: inline-block; opacity: 0.5; padding-top: .5rem; }
 .display-fullscreen .content-txt .legend { padding: 1rem; font-size: 2rem; color: #000;
 	line-height: 2.5rem; visibility: inherit; display: flex; flex-direction: row; align-items: flex-start; xbackground-color: green; }
 .display-fullscreen .content-txt .legend div  { background-color: #f8c91b; color: #fff; padding: 0.5rem 1rem;box-shadow: 1px 1px 15px #fafafa; }
 .display-fullscreen .content-txt .legend span:nth-child(2)  { background-color: #2B3B8E; #0924AB; color: #fff; padding: 0.5rem 1rem; }
 .display-fullscreen .content-txt .legend span:nth-child(4)  { color: #fff; font-weight: bold; padding: 0.5rem 1rem; }

 .display-fullscreen .content-txt .close { padding-left: 1em; padding-top: 1rem; visibility: inherit;
 	display: flex; flex-direction: row; align-items: center; line-height: 1.3rem;
  color: #fff; }
 .display-fullscreen .content-txt .close a { font-size: 2rem;  color: #fff;
  border-radius: 50%; padding: 5px; box-shadow: 2px 2px 2px #2B3B8E; margin-right: 1rem;
 display: inline-block; width: 3rem; text-align: center; opacity: 0.5; background-color: #2B3B8E;
 	}



 	@media (max-width: 768px) {

 		.snapcontainer { flex-direction: column; }
 		.snapshot, .snapshotvideo { min-height: 220px; }
 		.snapshot-action { z-index: 200; }

 		.display-fullscreen { flex-direction: column-reverse; height: 100vh; overflow:auto;}
 		.display-fullscreen .content-visual { width: 100%; height: 60vh; position: relative;  }
 		.display-fullscreen .content-txt { width: 100%; height: 40vh; overflow: auto; xflex: 1; padding-left: .5rem; }
		.display-fullscreen .content-txt .txt { font-size: 1rem; }
 		.display-fullscreen .content-txt .legend { padding: 0px; }
		.display-fullscreen .content-visual .visual-legend { position: absolute; bottom: 0rem; padding: .5rem; }


 	}



	.menu { z-index: 50; position: fixed; top: 5px; left: 0; width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; }
.menuinfo { padding: 0.5rem;  color: #000;  padding-left: 2rem; flex-grow: 1; line-height: 1.3rem; }
.is-my { opacity: 0.8; font-weight: bold; box-shadow: 1px 1px 15px #2B3B8E;  background-color: #2B3B8E !important; color: #fff; xpadding: 2rem; padding: 1rem; font-size: 1rem; width: 100%;}

@media (max-width: 768px) {

.menuinfo { margin-top: 1rem; padding-left: 1rem;}
}

.vid-container {

	position: relative;
	padding-bottom: 56.25%; /* 16:9 ratio */
	padding-top: 25px;
	height: calc(100vh - 70px);
	overflow: hidden;
	background-color: #f8c91b;
	border: 2px solid #f8c91b;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.w500 { max-width: 500px; margin: 0 auto; }
.h300 { height: 300px;}
.h250 { height: 250px;}
.h220 { height: 220px;}
.h200 { height: 200px;}
.h180 { height: 180px;}
.flex { display: flex; flex-direction: column; xborder: 1px solid red; justify-content: center; align-self: center; }
.center { text-align: center; justify-content: center; align-self: center; margin: auto; }


.sepia { opacity: 0.7;   -webkit-filter: sepia(100%);     filter: sepia(100%);}
.sepia:hover { opacity: 1;   -webkit-filter: sepia(0%);     filter: sepia(0%);}

.scale { transform: scale(1.5); xborder: 4px solid #2B3B8E; box-shadow: 1px 1px 5px #2B3B8E; border-radius: 2px; }

@media (min-width: 769px ) {
.contact { position: fixed; top: 1rem; right: 1rem; z-index: 1000; }
}

.round { width: 100px; height: 100px; line-height: 1.2rem; text-align: center; margin-bottom: 5rem; }
.round img { width: 100%; height: auto; border-radius: 50px; position: relative;  xz-index: 999; }
.round a { color: #000; xfont-weight: bold; font-size: 1.1rem; }
.round a span { xz-index: 1000;  position: relative; top:.5rem; visibility: hidden; }
.round:hover img, .contact:hover .text, .contact:hover .icon { box-shadow: 2px 2px 10px #fff; transition: .5s;}
.round:hover span { visibility: visible; }

.round .text, .round .icon {
	font-size: 1.7rem; font-weight: normal; color: #2B3B8E;
	background-color: #fff; border-radius: 50px; width: 100%; height: 100%; display: inline-flex; justify-content: center; align-items: center; }

@media (max-width: 768px) {
	.contact { display: flex; position: relative; flex-direction: row;
	height: 200px; padding: 1rem; justify-content: space-around; }
	.contact img {  -webkit-filter: sepia(100%);     filter: sepia(100%); box-shadow: 2px 2px 10px #fff;}
	.round a span { visibility: visible; }
  .round .text, .round .icon {box-shadow: 2px 2px 10px #fff;	}
	.round { width: 90px; height: 90px; margin-bottom: 0; }
}

.user { display: none; margin-bottom: 3rem; }



.bgfooter { background-color: rgba(240, 240, 240, 0.8); display: flex; flex-direction: columns; width: 100%; padding: 2rem;
align-items: center; }
.bgfooter .brand { padding-right: 2rem; }
.bgfooter .brand img { width: 100px; height: auto; }
.bgfooter .content { line-height: 1.2rem; }
.bgfooter .content a { color: rgba(10, 10, 10, 8); text-decoration: underline; }
.bgfooter .content em { font-size: 0.7rem; }

.hidden { display: none; }



</style>




{% include 'ui/headzen.html' %}





{# TITRE #}
<div class="flex h300 center">
		<div class="supertitle w500">
			{{ title|safe }}
		</div>
</div>

{# FULLSCREEN #}
<div class="video-fullscreen">

	<div class="data"></div>
	<div class="action">
		<div class="close"><a href="#"><i class="fas fa-arrow-left"></i></a></div>
		<div class="legend"></div>
	</div>

</div>
<div class="info-fullscreen">

	<div class="data">{{ profile.content|safe }}</div>
	<div class="action">
		<div class="close"><a href="#"><i class="fas fa-arrow-left"></i></a></div>
		<div class="legend">à propos de l'atelier</div>
	</div>

</div>

<div class="display-fullscreen">
	<div class="content-txt">
	 	<div class="data"></div>
	  <div class="legend"></div>
		<div class="txt">
			{{ content|safe }}
			<em>{{ classe|safe }}</em>
		</div>
	  <div class="close"><a href="#"><i class="fas fa-arrow-left"></i></a>{# {{ classe|safe }} #}</div>
	</div>
	<div class="content-visual"><div class="visual-legend"></div>
	</div>
</div>


{% if zenimg is not defined %}
Parle Data information :<br />
Erreur de Configuration - Contexte des données <br />
<br />ZENIMG Manquant
{% endif %}

{% if zenimg is not defined %}
Parle Data information :<br />
Erreur de Configuration - Contexte des données <br />
<br />AUDIODIR Manquant
{% endif %}

{% if zencsv is defined %}
<div class="container-snapshot">
  <div class="columns is-gapless">

		{% if youtube1xxx is defined %}
		<div class="column">
			<div class="vid-container">
			{{ youtube1|safe }}
			</div>

		</div>
		{% endif %}

			<div class="column center">


			{% set countercol = ['1'] %}

			{% for mydata in zencsv %}

				{# CLOSE PREVIOUS DIV COLUMN AND OPEN NEW ONE
				{% if loop.index > (countercol|length)*(loop.length/1) %}
					{% if countercol.append('1') %}{% endif %}
					</div>
					<div class="column">
				{% endif %}
				#}

				{# USER #}
				<div class="user" id="user{{ mydata.num }}">


				{# SNAPSHOT #}
				{% if mydata.audio|length > 1 %}
				 <div class="snapshot snapshot-polaroid w500 h180" id="snapshot{{ mydata.num }}" data-action="audio" data-value="{{ mydata.audio }}" data-background="{{ mydata.img }}" data-legend="{{ mydata.prenom }}" data-bgposition="{{ mydata.bgposition}}">

				    <div class="snapshot-img">

							{%if zenimg[mydata.img] is defined %}
							<img src="{{ profile.staticurl }}{{ zenimg.folder }}/{{ zenimg[mydata.img].th }}" width="{{ zenimg[mydata.img].thw }}" height="{{ zenimg[mydata.img].thh }}" class="img-fluid scale" />
							{% endif %}

							{#<img src="p1050420.jpg" class="img-fluid">#}
						</div>
		        <div class="snapshot-legend">{{ mydata.prenom }}{# {{ mydata.nom }} - {{ mydata.naissance }} #}</div>
		        <div class="snapshot-action"><a href="#"><i class="fas fa-volume-up"></i></a></div>
		     	</div>
					{# END SNAPSHOT #}
				{% endif %}


				</div>
				{#END USER#}
			 {% endfor %}

		</div>
	</div>
</div>
{% else %}
Parle Data information :<br />
Erreur de Configuration - Contexte des données <br />
<br />ZENCSV manquant
{% endif %}



{# ACTION #}
<div class="contact sepia">



	<div class="round postop">
		<a href="{{ url }}-allvideo.html" id="action-allvideo"><div class="text">vidéo</div><span>voir toute les vidéos</span></a>
	</div>
	<div class="round postop">
		<a href="{{ url|replace("-allvideo","") }}.html"><div class="text">{{ classemini }}</div><span>voir toute la classe</span></a>
	</div>
	<div class="round on">
		<a href="mailto:parlewebpro@gmail.com?subject=EAC Emotion avec Emmanuel Sandorfi à Sancta Maria" id="action-message"><div class="text">contact</div><span>laissez un message à Emmanuel</span></a>
	</div>

	{#
	<div class="round">
		<a href="a-propos.html" id="action-info"><img src="emmanuel-sandorfi-danse.jpg" alt="emmanuel sandorfi danse" /><span>propos de l'intervenant</span></a>
		<a href="#"><div class="icon"><i class="fas fa-share-square"></i></div><span>envoyer à vos proches</span></a>
	</div>
	#}
</div>

{# FOOTER #}
<div class="bgfooter">
	<div class="brand">
		<a href="{{ profile.plwurl }}" target="_blank"><img src="{{ profile.staticurl }}{{ profile.plwimg }}" class="img-tiny" alt="{{ profile.plwbrand }}" /></a>
	</div>
	<div class="content">
		{{ profile.txtbrand|safe }}<br />
		<em>{{ profile.majbrand }}</em>
	</div>
</div>
<div id="sid" class="hidden"></div>



{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

<script>

var url = window.location.href;
var userid = '';
var arguments = url.split('?').pop().split('id=').pop();
if( arguments != url ) {
	$( "#user"+arguments ).css("display", "block");
	userid = arguments;
	console.log("#user"+userid);
	$(" #sid ").html(userid);
}
else { $( ".user" ).css("display", "block"); }



$( ".snapshot" )
.mouseenter(function() {
	/* $( this ).find( "img" ).css( { "transform": "scale(1.5)", "border": "4px solid #2B3B8E" } );*/
	$( this ).css( { "cursor": "pointer", "z-index": "200" } );

	/* $( this ).find( ".snapshot-action" ).css( "visibility", "visible" );*/
})
.mouseleave(function() {
	/*$( this ).find( "img").css( { "transform": "scale(1)", "border": "0px" } );*/
	$( this ).css( { "cursor": "auto", "z-index": "auto" } );


})
.click(function() {
	action = $( this ).attr( "data-action" );
	value = $( this ).attr( "data-value" );

	if( action == 'audio' )
	{
		dir_bg = "{{ profile.staticurl }}{{ zenimg.folder }}/"
		dir_audio = "{{ profile.staticurl }}{{ audiodir }}/"


		value_bg = $( this ).attr( "data-background" );
		value_bgposition = $( this ).attr( "data-bgposition" );
		if( value_bgposition == 'None' || value_bgposition == '' )
			value_bgposition = "top center"
		value_legend = $( this ).attr( "data-legend" );

		html = "<div class='audiocontrol'><audio src='"+dir_audio+value+"' autoplay controls volume='1.0' >Votre navigateur ne supporte pas l'élément <code>audio</code>.</audio></div>";



		console.log(value_bgposition);
		bgurl = "url('"+dir_bg+value_bg+".jpg')";
		console.log(bgurl);

		$( ".display-fullscreen .content-visual" ).css( "background-image", bgurl );
		$( ".display-fullscreen .content-visual" ).css( "background-position", value_bgposition );
		$( ".display-fullscreen .content-visual .visual-legend" ).html(value_legend );




		$( ".display-fullscreen .content-txt .data" ).html( html );

		$( ".display-fullscreen" ).css( "display", "flex" );




	}

else if( action == 'video' )
{
	value_legend = $( this ).attr( "data-legend" );
	html_legend = value_legend;

	html = "<div class='vid-container'><iframe id='ytplayer' type='text/html' width='900px' height='600px' src='https://www.youtube.com/embed/"+value+"?autoplay=1&controls=1&rel=0&showinfo=0' frameborder='0' allowfullscreen></div>";

	console.log(html_legend);
	 $( ".video-fullscreen .legend" ).html( html_legend );
	$( ".video-fullscreen .data" ).html( html );
	$( ".video-fullscreen" ).css( "display", "flex" );
	$(".contact").css("visibility", "hidden");


}
else alert('no action defined');
});


$( ".video-fullscreen" )
.click(function() {
$( this ).css( "display", "none" );
$( this ).find( ".data" ).html( "" );
$(".contact").css("visibility", "visible");

});

$( ".info-fullscreen" )
.click(function() {
$( this ).css( "display", "none" );
$(".contact").css("visibility", "visible");

});

$('.audiocontrol').on('click', function(e) {
	e.stopPropagation();
	console.log('stop prop');
});

$( ".display-fullscreen .content-txt .txt, .display-fullscreen .content-visual, .display-fullscreen .content-txt .close" )
.click(function() {
	console.log('click');
	$( ".display-fullscreen" ).css( "display", "none" );
	$( ".display-fullscreen .content-txt .data" ).html( "" );
	return false;
});

function readCookie(name) {
    var nameEQ = encodeURIComponent(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ')
            c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0)
            return decodeURIComponent(c.substring(nameEQ.length, c.length));
    }
    return null;
}

$("#action-message")
.click(function(){

	var cookclasse = readCookie('eacemotionclasse');
	var cookenfant = readCookie('eacemotionid');
	window.location = $(this).attr('href')+" Classe "+cookclasse+ " Enfant "+cookenfant;
	return false;

});



$("#action-allclasse")
.click(function(){

	var sid = $("#sid").text();
	/*console.log('all classe userid '+userid);
	console.log('all classe sid '+sid);*/

	$( ".user" ).css("display", "block");
	$("html, body").animate({ scrollTop: 0 }, "slow");
	/* window.location = $(this).attr('href')+"?sid="+userid; */
	return false;

});


$("#action-info")
.click(function(){

	$( ".info-fullscreen" ).css( "display", "flex" );
	$(".contact").css("visibility", "hidden");
	return false;

});

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111601816-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111601816-1');
</script>


{% include 'ui/footzen.html' %}
