{% include 'ui/headz.html' %}
<style>
body { background-color: #f8c91b; }

.title { color: #fafafa; padding-bottom: 1rem; text-shadow: 1px 1px 15px #fafafa; text-align: center;}
.supertitle { color: #fafafa; text-align: center; font-size: 6em; line-height: 7rem; padding-top: 5rem; text-shadow: 1px 1px 15px #fafafa; }
.supertitle span { padding-top: 2rem;font-size: 3rem; color: #2B3B8E; xopacity: 0.5; line-height: 3rem; display: inline-block; }
.supertitle a { padding-top: 2rem;font-size: 3rem; color: #2B3B8E; xopacity: 0.5; line-height: 3rem; display: inline-block; text-shadow: 1px 1px 15px #fafafa; }
.container-snapshot { position: relative; clear: both; z-index: 3; margin: auto; width: 90%; }
@media (max-width: 768px) {
	.container-snapshot { width: 80%; xborder: 2px solid red;}
	.supertitle { font-size: 3rem; line-height: 4rem; padding-top: 0; }
	.supertitle span { font-size: 2rem; line-height: 2rem; }
	.supertitle a { font-size: 2rem; line-height: 2rem; }
}

.snapcontainer { display: flex; flex-direction: row; flex-grow: 1; xmargin-bottom: 1rem; xbackground-color: #eaeaea; }
.snapcontainer:hover { background-color: #2B3B8E; }
@media (min-width: 769px) {
.snapcontainer { opacity: 0.7;   -webkit-filter: sepia(100%);     filter: sepia(100%);}
.snapcontainer:hover { opacity: 1;   -webkit-filter: sepia(0%);     filter: sepia(0%);}
	
}
	.snaptitle, .snapshot, .snapvideo { position: relative; padding: 0; xmargin: 1rem; flex-grow: 1; height: 100px;  }
	.snapshot, .snapvideo { position: relative; padding: 0; xmargin: 1rem; flex-grow: 1; height: 200px; }
	.margin-r5 { margin-right: .5rem; }
.snapshot-double { display: inline-block; height: 250px; background-color: #f8c91b !important; }
.snap-double .snapshot-legendyb, .snapshot-legend { position: absolute; bottom: 0rem; left: 0rem; font-size: 2rem; xfont-weight: bold;
	background-color: #2B3B8E; color: #fff; xwidth: 100%; padding-left: 10px; padding-right: 10px; opacity: 1; }
.snapshot-legendyb { position: absolute; bottom: 0rem; right: 0rem; font-size: 1.5rem; xfont-weight: bold;
		background-color: #2B3B8E; color: #fff; xwidth: 100%; padding-left: 10px; padding-right: 10px; opacity: 1; }
.snapshot-legend strong, .snapshot-legendyb strong { color: #fff; opacity: 1; }

.snapshot-img { position: relative; text-align: center; z-index: 150;}
.snapshot-img img { border: 1px solid #fafafa; padding: 0; margin: 0; opacity: 1;  overflow: hidden; height: 144px; width: 256px; }
.snapshot-imgyb { height: 144px; width: 256px; overflow: hidden; }

.snapshot-action { position: absolute; bottom: 20px; right: 20%; visibility: hidden; z-index: 400; }
.snapshot-action a { font-size: 3rem; color: #2B3B8E; background-color: white;
 border-radius: 50px; padding: 15px; box-shadow: 2px 2px 3px #fafafa;}

.snapshot-polaroid {
padding: 10px 10px 5px 10px;
 xborder: 1px solid #BFBFBF;
 xbackground-color: #fafafa;
 xbox-shadow: 10px 10px 5px #f8c91b;
 }

.display-fullscreen, .video-fullscreen {
 width: 100vw;
 height: 100vh;
 xborder: 5px solid red;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 100;
 background-color: #fff;
 visibility: hidden;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 display: flex;
 flex-direction: row;
}
.display-fullscreen .content-visual { background-color: #f8c91b; visibility: inherit; width: 60%; height: 100%; background-size: auto 100%; background-repeat: no-repeat; }
.display-fullscreen .content-txt { background-color: #f8c91b; #2B3B8E; visibility: inherit; width: 40%; height: 100%; }
.display-fullscreen .content-txt .data, .video-fullscreen .data {  visibility: inherit; }
.display-fullscreen .content-txt .txt { padding-left: 2rem; padding-top: 2rem; font-size: 1.2rem; color: #000;  }
.display-fullscreen .content-txt .txt em { font-size: 1rem; line-height: 1.3rem; display: inline-block; opacity: 0.5; padding-top: .5rem; }
.display-fullscreen .content-txt .legend, .video-fullscreen .legend { padding: 1rem; font-size: 2rem; color: #000;
	line-height: 2.5rem; visibility: inherit; display: flex; flex-direction: row; align-items: flex-start; }
.display-fullscreen .content-txt .legend div  { background-color: #f8c91b; color: #fff; padding: 0.5rem 1rem;box-shadow: 1px 1px 15px #fafafa; }
.display-fullscreen .content-txt .legend span:nth-child(2)  { background-color: #2B3B8E; #0924AB; color: #fff; padding: 0.5rem 1rem; }
.display-fullscreen .content-txt .legend span:nth-child(4)  { color: #fff; font-weight: bold; padding: 0.5rem 1rem; }

.display-fullscreen .content-txt .close { padding-left: 1em; padding-top: 1rem; visibility: inherit;
	display: flex; flex-direction: row; align-items: center; line-height: 1.3rem;
 color: #fff; }
.display-fullscreen .content-txt .close a { font-size: 2rem;  color: #fff;
 border-radius: 50%; padding: 5px; box-shadow: 2px 2px 2px #2B3B8E; margin-right: 1rem;
display: inline-block; width: 3rem; text-align: center; opacity: 0.5; background-color: #2B3B8E;
	}
	@media (max-width: 768px) {

		.snapcontainer { flex-direction: column; }
		.snapshot, .snapshotvideo { min-height: 220px; }
		.snapshot-action { z-index: 200; })

		.display-fullscreen { flex-direction: column-reverse; height: 100vh; }
		.display-fullscreen .content-visual { width: 100%; height: 80vh;  }
		.display-fullscreen .content-txt { width: 100%; height: 20vh; overflow: auto; flex: 1; }
		.display-fullscreen .content-txt .legend { padding: 0px; }
	}


	
	.lela { display: flex; flex-direction: row; width: 100%; min-height: 100vh; }
	.lemenu {  width: 170px; position: relative; min-height: 100%; background-color: #fafafa; border-right: 1px solid white; }
	.ladata { xborder: 3px solid red; }
	
	.menu { z-index: 50; position: fixed; top: 5px; left: 0; width: 100%; xdisplay: flex; flex-direction: row; align-items: center; justify-content: flex-start; }
	
	
	
.menuinfo { padding: 0.5rem;  color: #000;  padding-left: 2rem; flex-grow: 1; line-height: 1.3rem; }
.is-my { opacity: 0.8; font-weight: bold; box-shadow: 1px 1px 15px #2B3B8E;  background-color: #2B3B8E !important; color: #fff; xpadding: 2rem; padding: 1rem; font-size: 1rem; width: 100%;}

@media (max-width: 768px) {

.menuinfo { margin-top: 1rem; padding-left: 1rem;}
.menu { position: fixed; width: 100%; }
.float-left { float: none; clear: all }
}

.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


</style>




{% include 'ui/headzen.html' %}


{# FULLSCREEN #}
<div class="video-fullscreen">
	 	<div class="data"></div>
	  <div class="legend"></div>

</div>
<div class="display-fullscreen">
	<div class="content-txt">
	 	<div class="data"></div>
	  <div class="legend"></div>
		<div class="txt">
			{{ content|safe }}
			<em>{{ classe|safe }}</em>
		</div>
	  <div class="close"><a href="#"><i class="fas fa-arrow-left"></i></a>{# {{ classe|safe }} #}</div>
	</div>
	<div class="content-visual">
	</div>
</div>

{# LELA #}
<div class="lela">

{# LEMENU #}
<div class="lemenu">
<div class="menu">
	<div class="dropdown is-hoverable">
	  <div class="dropdown-trigger">
	    <a href=# class="xbutton is-my " aria-haspopup="true" aria-controls="dropdown-menu4">
	      <span>{{ classemini }}</span>
	      <span class="icon is-small">
	        <i class="fas fa-angle-down" aria-hidden="true"></i>
	      </span>
	    </a>
	  </div>
	  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
	    <div class="dropdown-content">
				<a href="classe-ms.html" class="dropdown-item">
					Classe de Justine Grandjean (MS)
				</a>
				<a href="classe-msgs.html" class="dropdown-item">
					Classe de Rachelle Cadot (MS-GS)
				</a>
				<a href="classe-gs.html" class="dropdown-item">
					Classe de Natascha Beraud (GS)
				</a>

				<hr class="dropdown-divider">
	      <a href="mailto:parleweb@gmail.com?subject=EAC Institution Sancta Maria 2018" class="dropdown-item">
	        Contactez Emmanuel Sandorfi (Parle Web)
	      </a>
	    </div>
	  </div>
	</div>
</div>
toto
</div>

{# LADATA #}
<div class="ladata">

<div class="hero">
	<div class="hero-body">
		<div class="supertitle">
			{{ title|safe }}
		</div>

	</div>
</div>


{% if zenimg is not defined %}
Parle Data information :<br />
Erreur de Configuration - Contexte des données <br />
<br />ZENIMG Manquant
{% endif %}

{% if zenimg is not defined %}
Parle Data information :<br />
Erreur de Configuration - Contexte des données <br />
<br />AUDIODIR Manquant
{% endif %}

{% if zencsv is defined %}
<div class="container-snapshot">
  <div class="columns is-gapless">

		{% if youtube1dd is defined %}
		<div class="column">
			<div class="vid-container">
			{{ youtube1|safe }}
			</div>

		</div>
		{% endif %}

			<div class="column">


			{% set countercol = ['1'] %}

			{% for mydata in zencsv %}

				{# CLOSE PREVIOUS DIV COLUMN AND OPEN NEW ONE #}
				{% if loop.index > (countercol|length)*(loop.length/1) %}
					{% if countercol.append('1') %}{% endif %}
					</div>
					<div class="column">
				{% endif %}

									{# PRENOM #}
					<div class="snaptitle">
					<div class="snapshot-legend "><strong>{{ mydata.prenom }}</strong></div>
					</div>
				<div class="snapcontainer">


					
				{# AUDIO #}
				{% if mydata.audio|length > 1 %}
				 <div class="snapshot snapshot-polaroid margin-r5" id="audio{{ mydata.num }}" data-action="audio" data-value="{{ mydata.audio }}" data-background="{{ mydata.img }}" data-legend="{{ mydata.prenom }}" data-bgposition="{{ mydata.bgposition}}" style="background-image: url('{{ profile.staticurl }}{{ zenimg.folder }}/{{ zenimg[mydata.img].src }}'); background-size: cover; background-position: center;">>
<!--
				    <div class="snapshot-img">

							{%if zenimg[mydata.img] is defined %}
							<img src="{{ profile.staticurl }}{{ zenimg.folder }}/{{ zenimg[mydata.img].src }}" xwidth="{{ zenimg[mydata.img].thw }}" xheight="{{ zenimg[mydata.img].thh }}"  />
							{% endif %}

							{#<img src="p1050420.jpg" class="img-fluid">#}
						</div>
	-->	        
						<div class="snapshot-legend snapshot-legendyb">un poème pour toi</div>
		        <div class="snapshot-action"><a href="#"><i class="fas fa-volume-up"></i></a></div>
		     	</div>
					{% endif %}

					
					{# VIDEO #}
					{% if mydata.video is not none %}

					<div class="snapshot snapshot-polaroid {% if mydata.audio|length < 1 %}snapshot-double{%endif%}" id="video{{ mydata.num }}" data-action="video" data-value="{{ mydata.video }}" data-legend="{{ mydata.videolegend }} et {{ mydata.prenom }}" style="background-image: url('http://img.youtube.com/vi/{{ mydata.video }}/0.jpg'); background-size: cover; background-position: center;">
			<!--
						<div class="snapshot-img snapshot-imgyb" style="background: url('http://img.youtube.com/vi/{{ mydata.video }}/0.jpg') no-repeat cover center center;">
							<img src="http://img.youtube.com/vi/{{ mydata.video }}/0.jpg">
						</div>
			-->
						<div class="snapshot-legend {% if mydata.audio|length > 1 %}snapshot-legendyb{%endif%}">extrait de danse<!--{{ mydata.videolegend|safe }}--></div>
						<div class="snapshot-action"><a href="#"><i class="fab fa-youtube"></i></a></div>

					</div>
					{% endif %}

					
					
					</div>

			 {% endfor %}

		</div>
	</div>
</div>
{% else %}
Parle Data information :<br />
Erreur de Configuration - Contexte des données <br />
<br />ZENCSV manquant
{% endif %}
<div class="supertitle">
	<span>{{ foot }}</span>
</div>

<div class="hero">
	<div class="hero-body">

		<div class="subtitle">
			{{ equipe|safe }}
		</div>
		<div class="usage">

			{{ usage }}
		</div>

	</div>
</div>

{# END LADATA #}
</div>
{# END LELA #}
</div>



{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

<script>


$( ".snapcontainer" )
.mouseenter(function() {
	$( this ).find( ".snapshot-action" ).css( "visibility", "visible" );
})
.mouseleave(function() {
	$( this ).find( ".snapshot-action" ).css( "visibility", "hidden" );
});

$( ".snapshot" )
.mouseenter(function() {
	$( this ).find( "img" ).css( { "transform": "scale(1.5)" } );
	$( this ).css( { "cursor": "pointer", "z-index": "200" } );

	$( this ).find( ".snapshot-action" ).css( "visibility", "visible" );
})
.mouseleave(function() {
	$( this ).find( "img").css( { "transform": "scale(1)" } );
	$( this ).css( { "cursor": "auto", "z-index": "auto" } );

	$( this ).find( ".snapshot-action" ).css( "visibility", "hidden" );
})
.click(function() {
	action = $( this ).attr( "data-action" );
	value = $( this ).attr( "data-value" );
	$( this ).css( "background-color", "#f8c91b" );
	$( this ).find(".snapshot-legend").css( "background-color", "#f8c91b" );
	$( this ).find(".snapshot-legendyb").css( "background-color", "#f8c91b" );

	if( action == 'audio' )
	{
		dir_bg = "{{ profile.staticurl }}{{ zenimg.folder }}/"
		dir_audio = "{{ profile.staticurl }}{{ audiodir }}/"


		value_bg = $( this ).attr( "data-background" );
		value_bgposition = $( this ).attr( "data-bgposition" );
		if( value_bgposition == 'None' || value_bgposition == '' )
			value_bgposition = "top center"
		value_legend = $( this ).attr( "data-legend" );
		html_legend = "<div>"+value_legend+" dit à son papa...</div>";

		html = "<audio src='"+dir_audio+value+"' autoplay volume='1.0' >Votre navigateur ne supporte pas l'élément <code>audio</code>.</audio>";


		console.log(value_bgposition);
		bgurl = "url('"+dir_bg+value_bg+".jpg')";
		$( ".display-fullscreen .content-visual" ).css( "background-image", bgurl );
		$( ".display-fullscreen .content-visual" ).css( "background-position", value_bgposition );
		$( ".display-fullscreen .content-txt .legend" ).html( html_legend );
		$( ".display-fullscreen .content-txt .data" ).html( html );

		$( ".display-fullscreen" ).css( "visibility", "visible" );




	}

else if( action == 'video' )
{
	value_legend = $( this ).attr( "data-legend" );
	html_legend = value_legend+" : danser ensemble, en scène, une émotion</strong>";

	html = "<div class='vidcontainer'><iframe id='ytplayer' type='text/html' width='900px' height='600px' src='https://www.youtube.com/embed/"+value+"?autoplay=1&controls=0&rel=0&showinfo=0' frameborder='0' allowfullscreen></div>";

	 $( ".video-fullscreen .legend" ).html( html_legend );
	$( ".video-fullscreen .data" ).html( html );
	$( ".video-fullscreen" ).css( "visibility", "visible" );
}
else alert('no action defined');
});


$( ".video-fullscreen" )
.click(function() {
$( this ).css( "visibility", "hidden" );
$( this ).find( ".data" ).html( "" );
});


$( ".display-fullscreen" )
.click(function() {
	$( this ).css( "visibility", "hidden" );
	$( this ).find( ".content-txt .data" ).html( "" );
});

$( ".display-fullscreen .content-txt .close" )
.click(function() {
	$( ".display-fullscreen" ).css( "visibility", "hidden" );
	$( ".display-fullscreen .content-txt .data" ).html( "" );
	return false;

});
</script>


{% include 'ui/footzen.html' %}
