{% include 'ui/headz.html' %}
<style>
		.appzencsv { padding-left: 2rem; padding-right: 2rem; padding-top: 1rem; padding-top: 1rem; }
		.appzencsv { padding-top: 2rem; padding-bottom: 2rem;}

		.header { border-bottom: 2px solid black; padding: 2rem; font-size: 1.5rem; width: 20cm;}
		.info { font-size: 1.1rem; }
		.table { width: 18cm; }

		.table thead { height: 50px; font-weight: bold; text-transform: uppercase;  }
		.table td { width: 5rem; padding: .5rem; border-top: 1px solid black ;}
</style>
{% include 'ui/headzen.html' %}

<div class="header">
	{{pagetitle}}
	<div class="info">
		<strong>{{equipe}}</strong><br />
		{{direction}}<br />
		{{duree}}
	</div>
</div>

{% if zencsv is defined %}
<section class="appzencsv">
		<table class="table is-hoverable is-fullwidth zencsv">
			<thead>
				<tr>

						{% for dict in zencsv | first %}
					 	<td>
						 	{{dict}}
					 	</td>
						{% endfor %}

				</tr>
			</thead>
			<tbody>
			{% for dict_item in zencsv %}
				<tr>
					{% for key, data in dict_item.items() %}
					 <td>
						 {% if key == 'img' %}
						 		{% if zenimg is defined and zenimg[data] is defined %}
									{# <img src="{{zenimg.folder}}/{{zenimg[data].src}}" width="{{zenimg[data].srcw}}" height="{{zenimg[data].srch}}" /> #}
									<img src="{{zenimg.folder}}/{{zenimg[data].th}}" width="{{zenimg[data].thw}}" height="{{zenimg[data].thh}}" />
								{% else %}
									{{data}}
								{% endif %}

						 {% else %}
						 	{{data}}
						 {% endif %}

					 </td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
</section>
{% endif %}



{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

{% include 'ui/footzen.html' %}
