{% include 'ui/headz.html' %}
<style>

.texthead { text-align: center; font-size: 1.2rem; line-height: 1.2rem; padding: 1rem;
	 font-weight: bold; color: #000; opacity: 0.8; background-color: #f8c91b; }
.texthead2 { font-weight: bold; text-align: center; font-size: 1.5rem; line-height: 1.5rem; padding: 1rem;
		color: #fff; background-color: #2B3B8E; }
.textfoot { text-align: center; font-size: 1.1rem; padding: 1rem;
		opacity: 1; line-height: 1.1rem; background-color: #f8c91b; #fafafa; }
.listdata-head { font-size: 1.4rem; font-weight: bold; line-height: 1.4rem; padding-bottom: .5rem; text-align: center;}
.listdata-head span { display: inline-block; }
.listdata { text-align: center;}
.card-button:hover { background-color: #2B3B8E; color: #fff; border: 1px solid #fff; cursor:pointer; box-shadow: 2px 2px 20px #fff; }
.bgfull { background-image: url('{{profile.rooturl}}{{bgvitrine}}'); background-repeat: no-repeat; background-size: cover; background-position: bottom right; }

.hero { background-color: #f8c91b; }
</style>




{% include 'ui/headzen.html' %}


<section class="hero is-fullheight bgfull">
	<div class="hero-head">
		<div class="texthead">
			{{ texthead|safe }}
		</div>
		<div class="texthead2">
			{{ texthead2 }}
		</div>

	</div>


	<div class="hero-body ">
		<div class="container">
			<div class="columns">



{% if zencsv_msgs is defined %}
<div class="column">
	<div class="card card-button" data-target="classe-ms.html">
	  <div class="card-content">
			<div class="listdata-head">
				Classe de Mme Grandjean <span>Moyenne section</span>
			</div>
	    <p class="listdata">
				{% for mydata in zencsv_ms %}
					{{ mydata.prenom }}&nbsp;
				 {% endfor %}
	    </p>
	  </div>
	</div>
</div>
{% endif %}


{% if zencsv_msgs is defined %}
<div class="column">
<div class="card card-button" data-target="classe-msgs.html">
  <div class="card-content">
		<div class="listdata-head">
			Classe de Mme Cadot <span>Moyenne et Grande section</span>
		</div>
		<p class="listdata">			{% for mydata in zencsv_msgs %}
				{{ mydata.prenom }}&nbsp;
			 {% endfor %}
    </p>
  </div>
</div>
</div>
{% endif %}


{% if zencsv_gs is defined %}
<div class="column">
<div class="card card-button" data-target="classe-gs.html">
  <div class="card-content">
		<div class="listdata-head">
			Classe de Mme Beraud <span>Grande section</span>
		</div>
		<p class="listdata">
			{% for mydata in zencsv_gs %}
				{{ mydata.prenom }}&nbsp;
			 {% endfor %}
    </p>
  </div>
</div>
</div>
{% endif %}
</div>
</div>
</div>

<div class="hero-foot">
	<div class="textfoot">
		{{ textfoot|safe }}
	</div>
</div>

</div>

{% include 'ui/footz.html' %}
{% if debug is defined %}
{% include 'ui/js-debug.html' %}
{% endif %}

<script>

$( ".card-button" )

.click(function() {
	url = $( this ).attr( "data-target" );
	
	window.location = url;
	return false;
});


</script>


{% include 'ui/footzen.html' %}
