{% include 'ui/headz.html' %}
{% include 'ui/headzen.html' %}

{%if profile is defined %}

    <table class="table">
      <tr><td><strong>app :</strong></td><td>{{profile.app}}</td></tr>
      <tr><td><strong>appdescription :</strong></td><td>{{profile.appdescription}}</td></tr>
      <tr><td><strong>adrtel :</strong></td><td>{{profile.adrtel}}</td></tr>
      <tr><td><strong>adrcourriel :</strong></td><td>{{profile.adrcourriel}}</td></tr>
      <tr><td><strong>brand :</strong></td><td>{{profile.brand}}</td></tr>
      <tr><td><strong>brandimage :</strong></td><td>{{profile.brandimage}}</td></tr>
      <tr><td><strong>zencsv :</strong></td><td>
				{%if profile.zencsv is defined %}
				<ul>
				{% for dict in profile.zencsv %}
				<li>{{dict}}</li>
				{% endfor %}
				</ul>
				{%else%}
				none
				{%endif%}
			</td></tr>
			<tr><td><strong>zengabarit :</strong></td><td>{{profile.zengabarit}}</td></tr>
			<tr><td><strong>rooturl :</strong></td><td>{{profile.rooturl}}</td></tr>
			<tr><td><strong>fwurl :</strong></td><td>{{profile.fwurl}}</td></tr>
			<tr><td><strong>homeurl :</strong></td><td>{{profile.homeurl}}</td></tr>
			<tr><td><strong>staticurl :</strong></td><td>{{profile.staticurl}}</td></tr>
			<tr><td><strong>webmaster :</strong></td><td>{{profile.webmaster}}</td></tr>
			<tr><td><strong>content :</strong></td><td>{{profile.content}}</td></tr>
    </table>
{%else%}
	profile not defined
{%endif%}

{% include 'ui/footz.html' %}
{% include 'ui/footzen.html' %}
