{#
  nav-profile-zencsv
	v1

  use variables :
	profile.brandimage, profile.brand, profile.brandslogan
	profile.app
	profile.zencsv
#}


{% if zen is defined %}
{% include 'ui/headz.html' %}
{% include 'ui/headzen.html' %}
{% endif %}

<style>
.navbar-mobileandesktop { width: 100%; display: inline-flex; flex-grow: 1; justify-content: space-between; }
.navbar-brand { font-size: 1.1rem;
	align-items: center; justify-content: flex-start;
	padding-left: .5rem; padding-right: .5rem;
	display: flex; flex-grow: 2; }
@media (max-width: 500px) { .navbar-brand { border: 3px solid blue; flex-direction: column; } }
.navbar-brand-logo { xmargin-top: 5px; margin-right: 1rem; line-height: 0.5rem;}
.navbar-brand-logo img { height: 30px; }
.navbar-shadow { opacity: 1; transform: scaleY(1); background-image: linear-gradient(rgba(0,0,0,0.1), transparent); height: 8px; transform-origin: center top;
	position: absolute; top: 100%; left: 0; right: 0; }
.navbar-burger { border: 1px solud red; }
.navbar-menu a { color: #fff; }

</style>
<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
		<div class="navbar-shadow"></div>
		<div class="container">
			<div class="navbar-mobileandesktop">
				<div class="navbar-brand">
					<div class="navbar-brand-logo">
						{% if profile.brandimage is defined %}
							<img src="{{profile.rooturl}}{{profile.sourceurl}}{{profile.brandimage}}" alt="{{profile.brand}}" />
						{% else %}
							<img src="{{profile.fwurl}}parleweb/parleweb.png" alt="parle web" />
						{% endif %}
					</div>
					{% if profile.brandslogan is defined %}
						<div class="navbar-brand-slogan">{{profile.brandslogan|safe}}</div>
					{% endif %}
					{% if profile.app is defined %}
						<div class="navbar-brand-app">{{profile.app|safe}}</div>
					{% endif %}
				</div>
				<div class="navbar-burger" data-target="navMenu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navbar-menu" id="navMenu">
				<div class="navbar-start">
					{% if profile.zencsv is not defined %}
						<div class="navbar-item">
							hum? better to defined <strong>zencsv:</strong> in profile
						</div>
					{% else %}
						{% for dict_item in profile.zencsv %}
							<div class="navbar-item">
								<a href="{{profile.staticurl}}{{dict_item['url']}}">
								{{dict_item['icon']|safe}} {{dict_item['title']}}
							 	</a>
							</div>
						{% endfor %}
					{% endif %}
					<div class="navbar-item">
						<a href="{{homeurl}}" style="color: #000;">
							<i class="fas fa-home"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
</nav>

{% if zen is defined %}
{% include 'ui/footz.html' %}
{% include 'ui/footzen.html' %}
{% endif %}
