<style>
.zencsvcontent { border: 1px solid #fafafa; padding: .5rem; margin: .5rem; }
.zencsvcontent-link { display: inline-block; width: 100%; font-size: 1.1rem;}
.zencsvcontent-link { color: #ef5122; xborder-bottom: 1px solid #ef5122; text-decoration: none !important; }
.zencsvcontent-link:hover { opacity: 0.8; }
</style>
<div class="zencsvcontent">
{% if zencsv is not defined %}
NO ZENCSV IN DOCUMENT
{% else %}
	<table class="table">
	{% for dict_item in zencsv %}
		<tr>
	{#
	   <td>
		 {{dict_item['cat']}}
		 </td>
	 #}
		 <td>
			 <a href="{{profile.staticurl}}{{dict_item['url']}}" class="zencsvcontent-link">
			 <strong>{{dict_item['title']}}</strong></a>
			 {% if dict_item['info'] %}
			 <br /><span>{{dict_item['info']}}</span>
			 {% endif %}
		 </td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
</div>
